.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/wallpaper-1500w.jpg");
}
.home-container1 {
  width: 100%;
  height: 84px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  left: 0px;
  color: rgb(239, 239, 239);
  right: 0px;
  bottom: -10px;
  margin: auto;
  position: absolute;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  font-family: Tahoma;
}
.home-text01 {
  font-family: Poppins;
  letter-spacing: 15px;
}
.home-link {
  display: contents;
}
.home-icon {
  top: 0px;
  fill: #efefef;
  right: 98px;
  width: 69px;
  bottom: 0px;
  height: 69px;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  margin-right: auto;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  top: 0px;
  fill: #efefef;
  right: 36px;
  width: 56px;
  bottom: 0px;
  height: 56px;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-container2 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.home-image {
  top: -93px;
  left: 31px;
  width: 66px;
  display: none;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.home-text03 {
  color: rgb(255, 255, 255);
  opacity: 0.75;
  font-size: 26px;
  align-self: flex-start;
  font-family: Tahoma;
}
.home-container3 {
  flex: 0 0 auto;
  width: 1182px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  text-decoration: none;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card:hover {
  transform: scale(1.02);
}
.home-text06 {
  font-size: 2rem;
  text-align: left;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card1:hover {
  transform: scale(1.02);
}
.home-text07 {
  font-size: 2rem;
  text-align: left;
  font-family: Tahoma;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card2:hover {
  transform: scale(1.02);
}
.home-text08 {
  font-size: 2rem;
  text-align: left;
  font-family: Tahoma;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card3:hover {
  transform: scale(1.02);
}
.home-text09 {
  font-size: 2rem;
  text-align: left;
  font-family: Tahoma;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image4 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card4:hover {
  transform: scale(1.02);
}
.home-text10 {
  font-size: 2rem;
  text-align: left;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image5 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card5:hover {
  transform: scale(1.02);
}
.home-text11 {
  font-size: 2rem;
  text-align: left;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image6 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card6:hover {
  transform: scale(1.02);
}
.home-text14 {
  font-size: 2rem;
  text-align: left;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image7 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-feature-card7 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/blur80-1200w.png");
}
.home-feature-card7:hover {
  transform: scale(1.02);
}
.home-text15 {
  font-size: 2rem;
  text-align: center;
  font-family: Tahoma;
  line-height: 1;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image8 {
  width: 86px;
  height: 96px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-container4 {
  flex: 0 0 auto;
  width: 1182px;
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.home-button {
  width: 360px;
  align-self: center;
  font-family: Tahoma;
  border-width: 0px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/blur80-1200w.png");
}
.home-button1 {
  width: 360px;
  align-self: center;
  font-family: Tahoma;
  border-width: 0px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/blur80-1200w.png");
}
.home-button2 {
  width: 360px;
  align-self: center;
  transition: 0.3s;
  font-family: Tahoma;
  border-width: 0px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/blur80-1200w.png");
}

.home-container5 {
  width: 100%;
  height: 40px;
  display: flex;
  opacity: 0.75;
  align-self: center;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
.home-text25 {
  color: #ffffff;
  opacity: 0.75;
  font-size: 26px;
  text-align: center;
  font-family: Tahoma;
}
.home-text26 {
  font-size: 18px;
}
@media(max-width: 991px) {
  .home-text {
    align-self: center;
  }
  .home-container3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .home-container3 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
